* {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 30px;
}

.title {
    font-size: 64px;
    font-weight: bolder;
    margin: 10px 0px;
}

.box {
    padding: 24px;
    width: 300px;
    height: 400px;
    text-align: center;
    border: 3px solid;
}

#test-btn {
    margin: 10px;
    padding: 10px 24px;
    font-size: 12px;
    font-weight: bold;
}